.login, .register {
    background-color: lightblue;
    border: 3px solid #0820C2;
    margin: auto;
    max-width: 400px;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.profile-left {
    background-color: lightblue;
    border: 3px solid #0820C2;
    margin: left;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.octo {
    width: 40%;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.aboutme {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.header {
    color: #A00099 !important;
    text-align: center !important;
}

.submit-button {
    margin: auto !important;
    text-align: center !important;
    height: 40px;
    width: 50%;
    display: flex !important;
    justify-content: center !important;
    color: white !important;
    background-color: #A00099 !important;
    font-size: 16px !important;
}

.submit-button:hover {
    background-color: rgb(136, 2, 129) !important;
}

.navWrapper {
    background-color: #87ceeb;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

a {
    background-color: white;
    color: #87ceeb;
    padding: 5px;
    border-radius: 15%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:hover {
    background-color: lightblue;
    border: solid 2px lightsteelblue;
    color: white;
    padding: 5px;
    border-radius: 15%;
}

li {
    padding: 3px;
    list-style-type: none;
    display: inline;
}

.navTitle {
    color: gainsboro;
    font-size: 100px;
    text-shadow: 0 0 50px black;
    -webkit-text-stroke-color: #0020C2;
    -webkit-text-stroke-width: 3px;
    padding: 0px !important;
    margin: 0px !important;
}

.navBarLinks {
    padding-left: 0px;
    padding-right: 40px;
    margin: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#loginLink, #editLink, #homeLink, #registerLink, #logoutLink {
    color: #67afcc;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 30px;
    width: 100px;
}

#loginLink:hover, #editLink:hover, #homeLink:hover, #registerLink:hover, #logoutLink:hover {
    color: white !important;
    background-color: #A00099 !important;
    border: solid 1px transparent !important;
    text-decoration: none;
}

.message {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px !important;
}

.link, .link:hover {
    font-weight: bold;
    color: #A00099;
    text-decoration: none;
    background-color: transparent !important;
    padding-top: 0;
    padding-bottom: 0;
    border: solid 1px transparent !important;
}

.line {
    background-color: transparent !important;
    border: solid 1px transparent !important;
}

.userHomepage {
    overflow: hidden;
    background-color: white;
}

.background {
    background-color: white;
    padding-bottom: 20px;
}

.userHomepageInfo {
    background-color: lightblue;
    padding: 10px;
}

.userCard {
    margin-left: 75px;
    float: left;
}

.userFeed {
    margin-left: 7%;
    float: left;
    width: 500px;
}

.messages-list {
    height: 450px;
}

.delete-button {
    width: 10px;
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .login, .register {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .octo {
        width: 250px;
    }
    
    .input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .navTitle {
        padding: 50px 0 !important;
    }
    
    .navBarLinks {
        padding-right: 0px;
        margin: 7px 25px 7px 0;
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-left: 26%;
    }
    
    .userHomepage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .userCard {
        margin: auto;
    }
    
    .userFeed {
        margin: auto;
        width: 500px;
    }

    .ui.card {
        width: 500px;
    }

    .ui.image {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
    }

    .login, .register {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .octo {
        max-width: 150px;
        margin: auto;
    }
    
    .input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .submit-button {
        width: 70%;
    }
    
    .navTitle {
        font-size: 60px;
        -webkit-text-stroke-color: #0020C2;
        -webkit-text-stroke-width: 2px;
        padding: 20px 10px 50px 0 !important;
    }
    
    .navBarLinks {
        padding-left: 0px;
        padding-right: 0px;
        margin: 7px 25px 7px 0;
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: auto;
    }
    
    .userHomepage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    
    .userCard {
        margin: auto;
    }
    
    .userFeed {
        margin: auto;
        width: 95%;
    }

    .ui.card {
        width: 100%;
    }

    .ui.image {
        width: 100%;
    }
}