.navWrapper {
    background-color: #87ceeb;
    padding-top: 5px;
}

a {
    background-color: white;
    color: #87ceeb;
    padding: 5px;
    border-radius: 15%;
    text-decoration: none;
}

a:hover {
    background-color: lightblue;
    border: solid 2px lightsteelblue;
    color: white;
    padding: 5px;
    border-radius: 15%;
}

li {
    padding: 3px;
    list-style-type: none;
    display: inline;
}

.navTitle {
    color: gainsboro;
    font-size: 100px;
    text-shadow: 0 0 50px black;
    -webkit-text-stroke-color: #0020C2;
    -webkit-text-stroke-width: 3px;
}